{% extends 'base.html' %}
{% block title %} Blog {% endblock title %}
{% block blogactive%} active {% endblock blogactive %}
{% block body %}
<div class="container my-3">
  <h2> Coding Blogs </h2>
  {% for post in allPosts %}
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary"><a  href="/blog/{{post.slug}}">
        Article by {{post.author}} ({{post.views}} views)</a></strong>
      <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}}</a></h3>
      <div class="mb-1 text-muted">{{post.timeStamp}}</div>
      <p class="card-text mb-auto">{{post.content|safe| truncatechars:300}}</p>
      <a href="/blog/{{post.slug}}"  class="stretched-link">Continue reading</a>
    </div>
  </div>
    {% endfor %}
</div>
{% endblock body %}